.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.tree {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.branch {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.sub-branch {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.col {
  text-align: center;
}
