.back {
  background-image: url("https://images.unsplash.com/photo-1603377191540-0b6b101b8edd?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); /* Ganti 'link_gambar_anda.jpg' dengan URL gambar yang ingin Anda gunakan */
  background-size: cover; /* Sesuaikan dengan kebutuhan, misalnya 'cover' atau 'contain' */
  background-repeat: no-repeat;
  background-position: center center; /* Sesuaikan dengan kebutuhan */
  /* Jika Anda ingin menambahkan warna latar cadangan (fallback) */
  background-color: #ffffff; /* Ganti dengan warna latar yang diinginkan */
}
